<?xml version="1.0"?>
<ruleset name="WP Term Images">
	<description>Project coding standards for WP Term Images.</description>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>

	<file>wp-term-images.php</file>
	<file>includes</file>

	<config name="minimum_supported_wp_version" value="6.4"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.DynamicHooknameFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedFunctionFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound"/>
		<exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames.emptyFound"/>
	</rule>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="wp_term"/>
				<element value="WPTI"/>
			</property>
		</properties>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.DynamicHooknameFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedFunctionFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound"/>
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound"/>
	</rule>
</ruleset>
